.auto-style2 {
            height: 20px;
            width: 60%;
            text-align: center;
            vertical-align: top;
        }

        .auto-style6 {
            height: 20px;
            width: 20%;
            text-align: center;
        }

        .newStyle1 {
            font-family: Arial, Helvetica, sans-serif;
        }

        .auto-style8 {
            height: 20px;
            width: 20%;
            text-align: right;
        }

        .auto-style10 {
            text-decoration: underline;
        }

        .auto-style12 {
            text-decoration: underline;
            color: #0000FF;
            background-color: #FFFFFF;
        }

        .auto-style13 {
            color: #0000FF;
            background-color: #FFFFFF;
        }
        .auto-style2 {
            height: 20px;
            width: 60%;
            text-align: center;
            vertical-align: top;
        }

        .auto-style3 {
            width: 20%;
            text-align: center;
            vertical-align: top;
        }

        .auto-style4 {
            width: 60%;
            vertical-align: top;
        }

        .auto-style6 {
            height: 20px;
            width: 20%;
            text-align: center;
        }

        .auto-style7 {
            width: 400px;
        }

        .newStyle1 {
            font-family: Arial, Helvetica, sans-serif;
        }

        .auto-style8 {
            height: 20px;
            width: 20%;
            text-align: right;
            vertical-align: top;
        }

        .auto-style10 {
            text-decoration: underline;
        }

        .auto-style11 {
            width: 200px;
            height: 200px;
        }

        .newStyle2 {
            font-family: Arial, Helvetica, sans-serif;
            width: 651px;
        }
        .auto-style18 {
            width: 20%;
            text-align: center;
            vertical-align: top;
            font-family: Arial, Helvetica, sans-serif;
        }
        .auto-style19 {
            width: 200px;
            height: 198px;
        }
        .auto-style20 {
            width: 200px;
            height: 112px;
        }
        .auto-style21 {
            width: 200px;
            height: 197px;
        }
        .auto-style22 {
            width: 200px;
            height: 201px;
        }
        .auto-style23 {
            color: #FF0000;
        }
        .auto-style24 {
            color: #009933;
        }
        .auto-style2 {
            height: 20px;
            width: 60%;
            text-align: center;
            vertical-align: top;
        }
        .auto-style3 {
            width: 20%;
            text-align: center;
            vertical-align: top;
        }
        .auto-style4 {
            vertical-align: top;
        }
        .auto-style6 {
            height: 20px;
            width: 20%;
            text-align: center;
        }
        .auto-style7 {
            width: 400px;
        }
        .newStyle1 {
            font-family: Arial, Helvetica, sans-serif;
        }
        .auto-style8 {
            height: 20px;
            width: 20%;
            text-align: right;
        }
        .auto-style10 {
            text-decoration: underline;
        }
        .auto-style11 {
            width: 200px;
            height: 200px;
        }
        .auto-style12 {
            text-decoration: underline;
            color: #0000FF;
            background-color: #FFFFFF;
        }
        .auto-style13 {
            color: #0000FF;
            background-color: #FFFFFF;
        }
        .auto-style14 {
            text-decoration: underline;
            color: #0000FF;
        }
        .auto-style16 {
            width: 210px;
            height: 200px;
            color: #0000FF;
            text-decoration: underline;
        }
        .auto-style17 {
            height: 156px;
        }
        .auto-style18 {
            width: 247px;
            height: 201px;
            color: #0000FF;
            text-decoration: underline;
        }
        .auto-style19 {
            width: 203px;
            height: 200px;
            color: #0000FF;
            text-decoration: underline;
        }
        .auto-style20 {
            width: 216px;
            height: 200px;
            color: #0000FF;
            text-decoration: underline;
        }
        .auto-style21 {
            width: 202px;
            height: 200px;
            color: #0000FF;
            text-decoration: underline;
        }
        .auto-style23 {
            width: 200px;
            height: 200px;
            color: #0000FF;
            text-decoration: underline;
        }
        .auto-style24 {
            height: 156px;
            text-decoration: underline;
        }